[Desktop Entry]
Version=1.0
Type=Link
Name=ZOOM Meet Web
Icon=Zoom
URL=https://join.zoom.us/
Categories=Network;Internet
Comment=Create and connect to online meetings with Zoom
