[Desktop Entry]
Version=1.0
Type=Link
Name=Search Startpage
Icon=search
URL=https://www.startpage.com/
Categories=Network;Internet
Comment=Search and browse the internet without being tracked or targeted.
