[Desktop Entry]
Version=1.0
Type=Link
Name=X (Twitter) Web
Icon=twitter
URL=https://www.x.com
Categories=Network;Internet
Comment=Free social media platform
