[Desktop Entry]
Version=1.0
Type=Link
Name=Element Matrix Web
Icon=element-desktop
URL=https://app.element.io
Categories=Network;Internet
Comment=Decentralised, encrypted chat & collaboration powered by [matrix]
