[Desktop Entry]
Version=1.0
Type=Link
Name=WhatsApp Web
Icon=whatsapp
URL=https://web.whatsapp.com/
Categories=Network;Internet
Comment=Connect to WhatsApp using your browser
