[Desktop Entry]
Version=1.0
Type=Link
Name=Jitsi Meet Web
Icon=jitsi
URL=https://meet.jit.si/
Categories=Network;Internet
Comment=Create and connect to online meetings for free!
