[Desktop Entry]
Version=1.0
Type=Link
Name=Snapdrop Web
Icon=retroshare
URL=https://www.snapdrop.net
Categories=Network;Internet
Comment=Transfer files over local network
