[Desktop Entry]
Version=1.0
Type=Link
Name=Reddit Web
Icon=reddit
URL=https://www.reddit.com/
Categories=Network;Internet
Comment=Find any online community!
