[Desktop Entry]
Version=1.0
Type=Link
Name=Search Whoogle
Icon=search
URL=https://search.garudalinux.org/
Categories=Network;Internet
Comment=Search on Google without ads and tracking
