[Desktop Entry]
Version=1.0
Type=Link
Name=Midomi Music Web
Icon=enjoy-music-player
URL=https://www.midomi.com/
Categories=AudioVideo;Audio;Player
Comment=Identify music by singing or humming online
