[Desktop Entry]
Version=1.0
Type=Link
Name=Internet Radio Web
Icon=jazzradio
URL=https://www.internet-radio.com
Categories=AudioVideo;Audio;Player
Comment=Music from 12K+ radio stations
