[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/linux/Desktop/New File]
row=6
col=0

[d41967ec-c148-4603-88a7-7ff9abf2860d]
row=5
col=0

[569bb707-c2a4-45ff-8ff8-d3c802eb7bea]
row=0
col=0

[5634FD0534FCE93F]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/linux]
row=4
col=0

