[Desktop Entry]
Version=1.0
Name=Google Chrome
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
# Not translated in KDE, from Epiphany 2.26.1-0ubuntu1.
GenericName[fil]=Web Browser
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Comment[en_GB]=Access the Internet
Comment[es]=Accede a Internet.
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
StartupWMClass=Google-chrome
#Exec=/usr/bin/google-chrome-stable %U
Exec=/usr/bin/google-chrome-stable %U --enable-blink-features=MiddleClickAutoscroll --test-type
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
StartupWMClass=Google-chrome
Exec=/usr/bin/google-chrome-stable

[Desktop Action new-private-window]
Name=New Incognito Window
Name[en_GB]=New Incognito window
Name[es]=Nueva ventana de incógnito
Name[pt]=Nova janela de navegação anónima
Name[pt_BR]=Nova janela anônima
StartupWMClass=Google-chrome
Exec=/usr/bin/google-chrome-stable --incognito
