[Desktop Entry]
Name=Firewall Applet
Name[ar]=Firewall Applet
Name[as]=Firewall Applet
Name[bg]=Firewall Applet
Name[bn_IN]=Firewall Applet
Name[ca]=Firewall Applet
Name[cs]=Firewall Applet
Name[da]=Firewall Applet
Name[de]=Firewall Applet
Name[el]=Firewall Applet
Name[en_GB]=Firewall Applet
Name[en_US]=Firewall Applet
Name[es]=Firewall Applet
Name[et]=Firewall Applet
Name[eu]=Firewall Applet
Name[fi]=Firewall Applet
Name[fr]=Firewall Applet
Name[gl]=Firewall Applet
Name[gu]=Firewall Applet
Name[hi]=Firewall Applet
Name[hu]=Firewall Applet
Name[ia]=Firewall Applet
Name[id]=Firewall Applet
Name[it]=Firewall Applet
Name[ja]=Firewall Applet
Name[kn]=Firewall Applet
Name[ko]=Firewall Applet
Name[lt]=Firewall Applet
Name[ml]=Firewall Applet
Name[mr]=Firewall Applet
Name[nl]=Firewall Applet
Name[or]=Firewall Applet
Name[pa]=Firewall Applet
Name[pl]=Firewall Applet
Name[pt]=Firewall Applet
Name[pt_BR]=Firewall Applet
Name[ru]=Firewall Applet
Name[sk]=Firewall Applet
Name[sr]=Firewall Applet
Name[sv]=Firewall Applet
Name[ta]=Firewall Applet
Name[te]=Firewall Applet
Name[tr]=Firewall Applet
Name[uk]=Firewall Applet
Name[zh_CN]=Firewall Applet
Name[zh_TW]=Firewall Applet
Comment=Firewall Applet
Comment[ar]=Firewall Applet
Comment[as]=Firewall Applet
Comment[bg]=Firewall Applet
Comment[bn_IN]=Firewall Applet
Comment[ca]=Firewall Applet
Comment[cs]=Firewall Applet
Comment[da]=Firewall Applet
Comment[de]=Firewall Applet
Comment[el]=Firewall Applet
Comment[en_GB]=Firewall Applet
Comment[en_US]=Firewall Applet
Comment[es]=Firewall Applet
Comment[et]=Firewall Applet
Comment[eu]=Firewall Applet
Comment[fi]=Firewall Applet
Comment[fr]=Firewall Applet
Comment[gl]=Firewall Applet
Comment[gu]=Firewall Applet
Comment[hi]=Firewall Applet
Comment[hu]=Firewall Applet
Comment[ia]=Firewall Applet
Comment[id]=Firewall Applet
Comment[it]=Firewall Applet
Comment[ja]=Firewall Applet
Comment[kn]=Firewall Applet
Comment[ko]=Firewall Applet
Comment[lt]=Firewall Applet
Comment[ml]=Firewall Applet
Comment[mr]=Firewall Applet
Comment[nl]=Firewall Applet
Comment[or]=Firewall Applet
Comment[pa]=Firewall Applet
Comment[pl]=Firewall Applet
Comment[pt]=Firewall Applet
Comment[pt_BR]=Firewall Applet
Comment[ru]=Firewall Applet
Comment[sk]=Firewall Applet
Comment[sr]=Firewall Applet
Comment[sv]=Firewall Applet
Comment[ta]=Firewall Applet
Comment[te]=Firewall Applet
Comment[tr]=Firewall Applet
Comment[uk]=Firewall Applet
Comment[zh_CN]=Firewall Applet
Comment[zh_TW]=Firewall Applet
Icon=firewall-applet
Categories=System;Settings;Security;
Exec=/usr/bin/firewall-applet
Type=Application
StartupNotify=true
Terminal=false
Hidden=false

